# NOTE: Rename to .env
# PORT NESTJS
PORT=3000

# DB CONFIGURATION
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME=zoom

# EMAIL CONFIGURATION
EMAIL_HOST=smtp.googlemail.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=

# JWT CONFIGURATION
INTERNAL_SECRET_ACCESS_TOKEN=
INTERNAL_SECRET_REFRESH_TOKEN=
INTERNAL_ACCESS_TOKEN_EXPIRES_IN=7200s
INTERNAL_REFRESH_TOKEN_EXPIRES_IN=25200s
EXTERNAL_SECRET_ACCESS_TOKEN=
EXTERNAL_SECRET_REFRESH_TOKEN=
EXTERNAL_ACCESS_TOKEN_EXPIRES_IN=7200s
EXTERNAL_REFRESH_TOKEN_EXPIRES_IN=25200s

# URL BASE NESTJS
URL_BASE_NESTJS=http://localhost:3000/v1/

# URL BASE ANGULAR
URL_BASE_ANGULAR=https://local.zoom-web/

# GRAFANA
ENVIROMENT_GRAFANA=test
